<html ng-app="AlcoholApp">
<head>
    <title>AlcoholApp</title>
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1.2">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <base href="/" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/register.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/mainAccount.css" rel="stylesheet" />
    <link href="~/css/search.css" rel="stylesheet" />
    <link href="~/css/details.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />  
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Sansita|Signika" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <link href="~/bower_components/aos/dist/aos.css" rel="stylesheet" />
    <script src="~/scripts/animation.js"></script>
    <script src="~/bower_components/aos/src/js/aos.js"></script>
    <script src="~/bower_components/aos/dist/aos.js"></script>  
  


      
</head>
<body ng-controller="AccountController as account">

    <div class="container-fluid">
     

        <div id="sidenav" class="sideNav">       
                <p class="pushDown" id="userName" ng-show="account.isLoggedIn()">{{account.getUserName()}}</p>
                <p>{{account.validationMessages}}</p>
            <a class="pushDown" ng-show="!account.isLoggedIn()" href="#" ng-click="account.openModal()">Log In</a>
            <a ng-show="!account.isLoggedIn()" href="/register">Register</a>
            <a href="/mainAccount" ng-show="account.isLoggedIn()">Account</a>
            <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>



        </div>
        <span class="hamburger">
            <span></span>
            <span class="line"></span>
        </span>

 

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/bower_components/bootstrap/js/dropdown.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>

    <script>
    AOS.init();
    </script>
</body>
</html>
