<html ng-app="AlcoholApp">
<head>
    <title>AlcoholApp</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <base href="/" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/8f7cf61998.js"></script>

</head>
<body ng-controller="AccountController as account">
    <div class="container-fluid">
        <div class="navBarDiv">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-2">
                    <a class="navTitleLink" href="/"><i id="beerIcon" class="fa fa-beer" aria-hidden="true"></i><span id="navTitle">Alcohol App</span></a>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-4">
                    <table class="navTable">
                        <tr>
                            <td><a class="navPs" href="/register">Register</a></td>
                            <td><button class="navLogin" ng-click="account.openModal()" ng-show="!account.isLoggedIn()">Login</button></td>
                            <td><a href="/mainAccount" ng-show="account.isLoggedIn()">Account</a></td>
                            <td><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></td>
                            <td ng-show="account.isLoggedIn()">
                                [{{account.getUserName()}}]
                            </td>
                        </tr>
                    </table>
                </div>
                </div>  
                   
        </nav>
        </div>


        <hr />

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>

</body>
</html>
