body {
    background-color:#f2f2f2;
}

.navBarDiv {
    background-color: #662900;
}

.jumbotron{
    color: black;
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url("http://cdn.images.express.co.uk/img/dynamic/1/590x/Drinkers-425310.jpg");
    background-size: cover;
}

.layer {
    background-color: rgba(191, 127, 63, 0.5);
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family:'Orbitron', sans-serif;
}
.jumbotron h1 {
    text-align: center;
}

.jumbotron h3 {
    text-align: center;
}

.jumbotron button {
    margin-top: 30px;
    height: 40px;
    width: 200px;
    border: 3px solid #b33c00;
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
}

.jumbotron button:hover {
    background-color:#b33c00;
    color: #fff;
}

#GetId{   
    background-color:#ffebcc;
    border-color:black;
    border-width:1px; 
    font-family:'Arial Rounded MT';  
}

/*MidSec*/

.midSec {
    width: 100%;
    height: 350px;
    background-color:#b33c00;
}

#midSecIcons {
    font-size: 100px;
    color: white;
    margin-top: 60px;
}

.midSec h3 {
    color: #fff;
    text-decoration:underline;
    text-align: center; 
}

.midSecPs {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

/*Template*/

.template {
    height: 500px;
    background-color: #f2f2f2;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top:0px;
}

.accountDiv {
    height: 525px;
    width: 100%;
    background-color: #ffddcc;
    border-radius: 0px;
    margin-top: 50px;
}

#favNav {  
    background-color: #b33c00;
}

.navDrinks {
    color: white;
    font-size: 15px;
}

#favNavTitle {
    color: white;
}


.drinkHeader {
    text-align: center;
    margin-top: 25px;
}

.dropdown {
    margin-top: 10px;
    position: relative;
    margin-left: 20px;
}

.headerNdropdown td {
    margin-right: 20px;
}

#homeBeerIcon {
    font-size: 200px;
    margin-top: 50px;
}

.ozUnderIcon {
    font-size: 30px;
}

#homeProgressBar {
    padding-top: 10px;
    height: 40px;
    width: 400px;
    background-color: #ff884d;
    width: 60%
}

.progress {
    width: 850px;
    height: 40px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;

}

.drinkTally {
    height: 330px;
    width: 310px;
    background-color:#f2f2f2;
    margin-top: 20px;
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    
}

.drinkTally h3 {
    padding-top: 10px;
    text-decoration: underline;
    text-align: center;
    border-color:black;
}

.drinkTallyP {
    font-size: 15px;
}



.bacPercent {
    text-align:center;
    margin-top: 20px;
    font-size: 25px;
    color: black;
    border: 2px solid #ff884d;
    border-radius: 5px;
    height: 50px;
    width: 210px;
    padding-top: 13px;

}

/*Progress Bar*/



 .progress {
     margin-top: 150px;
     float: left;     
    width: 250px;
    height: 50px;
    padding-top: 1.75px;
   -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
 

 .progress-bar-danger {
    width: 65%;    
}

/*PreFooter*/


.preFooterDiv{
    position: relative;
    text-align:center;
    height:150px;
    width: 100%;
    background-color:#ce937e;
    border-color:#f1e0da;   
}
#preFooterBtn{ 
    font-size:25px;   
    height:40px;
    margin-top: 10px;
    width: 200px;
    background-color:#ffebcc;
    border-color:black;
    border-width:1px;  
}

.preFooterH {
    vertical-align: middle;
   
   
}
.foot{
    height:100px;
    width:auto;
    text-align:center;
    background-color:#f2f2f2;
}