
.global{
    text-align: center;
}

#closeModalI {
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 16px;
    color: #8899a6;

}

#closeModalI:hover {
    cursor: pointer;
}
.modalFields{
    margin-top: 10px;
    height:35px;
    width:350px;
    border-radius:2px;
    font-size:16px;
    text-indent:20px;
    border: 1px solid #e1e8ed;
    
}
.modalFields:focus {
    border: 1px solid #993333;
}



.regiBtn{
    border:none;
    color:white;    
    margin-top:4px;
    height:35px;
    width:350px;
    border-radius:2px;
    font-size:16px;
    background-color:#993333;
    margin-top: 10px;
}

.loginLegend {
     font-size: 15px;
    color: #8899a6;
    padding-bottom: 5px;
}

@media (max-width: 992px) {
    .modal-content {
        width: 90%;
        margin: 0 auto;
    }

    .modalFields{
    margin-top: 10px;
    height:35px;
    width:250px;
    border-radius:2px;
    font-size:16px;
    text-indent:20px;
    border: 1px solid #e1e8ed;
    
}
.modalFields:focus {
    border: 1px solid #993333;
}



.regiBtn{
    border:none;
    color:white;    
    margin-top:4px;
    height:35px;
    width:250px;
    border-radius:2px;
    font-size:16px;
    background-color:#993333;
    margin-top: 10px;
}

.loginLegend {
     font-size: 15px;
    color: #8899a6;
    padding-bottom: 5px;
}
}

