
.global{
    text-align: center;
}

.modalFields{
    border: 1px solid ;
    height:35px;
    width:250px;
    border-radius:2px;
    font-size:16px;
    text-indent:20px;
    
}
.modalFields {
    border: 1px solid #80bfff;
}

/*::-webkit-input-placeholder {
    padding-left: 20px;*/
    
}



.loginBtn{
    border:none;
    height:35px;
    width:250px;
    border-radius:5px;
    font-size:18px;
    background-color:aqua;
    text-align:center;

}
.password{
    border: 1px solid ;
    margin-top:4px;
    height:35px;
    width:250px;
    border-radius:2px;
    font-size:16px;
    text-indent:20px;
}
.password {
    border: 1px solid #80bfff;
}
.regiBtn{
    border:none;
    color:white;    
    margin-top:4px;
    height:35px;
    width:250px;
    border-radius:2px;
    font-size:16px;
    background-color:#09B8E8;
}
.regiBtn {
    border: 1px solid #80bfff;
}
.facebookBtn{
    border:none;
    color:white; 
    margin-top:2px;
    height:35px;
    width:250px;
    border-radius:2px;
    font-size:16px;
    background-color:#0A19C2;
}
.facebookBtn{
    border: 1px solid #80bfff;
}
.googleBtn{
    border:none;
    color:white; 
    margin-top:2px;
    height:35px;
    width:250px;
    border-radius:2px;
    font-size:16px;
    background-color:#E8093D;
    
}
.googleBtn{
    border: 1px solid #80bfff;
}
#facebookIcon{
    color:white;
    font-size:18px;
    margin-right:5px;
}
#googleIcon{
    color:white;
    font-size:18px;
    margin-right:5px;

}