body {
    overflow-x: hidden;
    background-color:#ffcdd2;
    height: 100%;
}


/**Nav**/

.lastPourNav {
   
    font-size: 1.7em;
    font-family: "Berkshire Swash", sans-serif;
    position: absolute;
    margin-left: 45%;
    margin-top: -25px;
    color: #fff;
}

@media(max-width:600px) {
    .lastPourNav {
        margin-left: 43%;
    }
}




#mainAccountNav {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0;
    margin-bottom: -20px;
    height: 80px;
}


#userNameNav {
    padding-top: 15px;
    margin-right: 20px;
    font-family:'Questrial', sans-serif;
    color: #fff;
    font-size: 15px;
}
/**mainAccount**/

.mainAccount {
    height: 1000px;
    width: 100%;
    background-color: #ffebee;
    margin-top: -20px;
}

.mainAccountDiv {
    margin-top: 40px;
    height: 800px;
    width: 80%;
    background-color: #f2f2f2;  
    border-top: 0px;
    margin-right: auto;
    margin-left: auto;
   
}


#mAnav {
    background-color: #993333;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    height: 60px; 
    margin-top: 68px;
    border-radius: 3px; 
}

#favNavTitle {
    margin-top: 5px;
    font-size: 20px;
    margin-left: 0px;
    font-family: 'Questrial', sans-serif;
}

.navDrinks {
    margin-top: 5px;

    font-size: 18px; 
    color: #fff;
    font-family: 'Questrial', sans-serif;
}

.navDrinks:hover {
    color: #fff;
  
}

.navDrinks:focus {
    color: #fff;
    border-bottom: 4px solid #fff;
}

#navDelete {
    margin-top: -20px;
    margin-left: -10px;
    position: relative;
    float: right; 
    color: white;  
}

.dropAlcInfo {
    font-size: 13px;
      font-family: 'Questrial', sans-serif;
}




.searchInputField {
    /*margin-right: 100px;*/
    margin-bottom: 5px;
}



/************ Angular Progress Bar *************/





progress {
    height: 55px;
    width: 80%;
    margin-left: 40px;
    border-radius: 2px;
}

progress[value]::-webkit-progress-bar {
  background-color: lightgray;    
  height: 55px;
  width: 100%;
   border: 1px solid lightslategray;
   margin-bottom: 50px;
  /*border-radius: 8px;*/ 
  margin-left: 35px; 
}

progress[value]::-webkit-progress-value {        
  background-image:    
	   -webkit-linear-gradient(
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   /*-webkit-linear-gradient(left, #cc9900, #ff3300, #cc0000);*/
  -webkit-linear-gradient(left, #E2C4C4, #993333);

    border-radius: 2px; 
    background-size: 50px 55px, 100% 100%, 100% 100%;  
}


#blackout {
    margin-left: 220px;
    margin-top: -3px;
    position: absolute;
}


.merked {
    position: absolute;
    margin-top: -3px;
    margin-left: 140px;
    padding-top: 10px;
}

.falling {
      position: absolute;
    margin-left: 70px;
    margin-top: -3px;
}

#exclamation {  
    font-size: 40px;
    color: red;
    margin-top: 5px;
    margin-left: 15px;
    position: absolute;
}

.exclamationDiv {
    margin-top: 0px;
    margin-left: 0px;
    height: 50px;
    width: 100%;
     
}



.skull{ 
     margin-top: -60px;
     margin-left: 460px;   
}




.iconList li {
    display: inline;
    /*list-style-type: none;*/
}

.iconList {
    list-style-type: none;
    width: 80%;
    
}

/*popups*/

.floatPopParent {
    position: relative;
    display: inline-block;
}

.floatPopParent .floatPopYield {
    visibility: hidden;
    width: 150px;
    background-color: rgba(153,51,51,0.9);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding-left: 7px;
    padding-top: 7px;
    height: 150px;
    margin-top: -150px;
    font-size: 14px;
    margin-left: -25px;
    position: absolute;
}

.floatPopParent:hover .floatPopYield {
    visibility: visible;
}

.floatPopParent .floatPopFalling {
    visibility: hidden;
    width: 150px;
    background-color: rgba(153,51,51,0.9);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding-left: 7px;
    padding-top: 7px;
    height: 150px;
    margin-top: -150px;
    font-size: 14px;
    margin-left: 20px;
    position: absolute;
}

.floatPopParent:hover .floatPopFalling {
    visibility: visible;
}

.floatPopParent .floatPopMerked {
    visibility: hidden;
    width: 150px;
    background-color: rgba(153,51,51,0.9);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding-left: 7px;
    padding-top: 7px;
    height: 150px;
    margin-top: -150px;
    font-size: 14px;
    margin-left: 85px;
    position: absolute;
}

.floatPopParent:hover .floatPopMerked {
    visibility: visible;
}

.floatPopParentBo {
    position: relative;   
    width: 40px;
}



.floatPopParentWeird .floatPopWeird {
    visibility: hidden;
    width: 150px;
    height: 165px;
    background-color: rgba(153,51,51,0.9);
    color: #fff;
    border-radius: 6px;
    margin-left: 175px;
    margin-top: -155px;
    font-size: 14px;
    padding-left: 7px;
    padding-top: 7px;
    position: absolute;
    text-align: left;
    padding-right: 2px;
}

.floatPopParentWeird:hover .floatPopWeird {
    visibility: visible;
}

.floatPopParentWeird .floatPopWeirdTwo {
    visibility: hidden;
    width: 150px;
    height: 150px;
    border-radius: 6px;
    background-color: rgba(153,51,51,0.9);
    color: #fff;
    margin-left: 415px;
    margin-top: -230px;
    position: absolute;
    padding-left: 7px;
    padding-top: 7px;
    text-align: left;

}

.floatPopParentWeird:hover .floatPopWeirdTwo {
    visibility: visible;
}
.popDivParent {
    font-size: 8px;
}





/*.progress-bar-bar {
  width: 0px;
  background-color: rgb(100,50,100);  
}*/

/*****BAC LEVEL****/

.weight {
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #993333; 
    margin-right: 5px; 
    width: 100px;
    margin-left: 15px;
}

.dropdown-menu {
    top: -63px;
    left: -11px;
}

.weight:focus {
    outline:none;
}

#weightBtn {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;    
    outline: none; 
    position: absolute;   
}



.weightSubmit {
    height: 25px;
    width: 25px;
    background-color: #993333;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 6px;
}

.addWeightP {
    font-size: 18px; 
    margin-top: -3px; 
    color: black;
    font-family: 'Questrial',sans-serif;
}
.bacAccountPercent {
    
    font-size: 60px;   
    margin-top: 30px; 
    padding-bottom: 30px; 
    border-bottom: 2px solid #993333;
    font-family: 'Questrial', sans-serif;
}


/**SelectedDrink**/

selectedDiv {
    margin-top: 100px;
}

.barrel {
    height: 200px;
    width: 200px;
}

.selectedHeader {
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Questrial', sans-serif;
}


.glassList {
    list-style-type: none;
    margin-left: -33px;
    font-family: 'Questrial', sans-serif;
}

.selectedDropdown {
    margin-top: 0px;
    position: relative;
    margin-left: 20px;  
    border: 1px solid #993333;
    font-family: 'Questrial', sans-serif;

}

/*button, select {
    text-transform: none;
    width: 120px;
    height: 40px;
    font-size: 20px;
  
    background-color: #fff;
    border: none;
    border-radius: 2px;
      font-family: 'Questrial', sans-serif;
}*/


#ozDropDown {
    margin-top: 50px;
    position: relative;
    margin-left: 20px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;    
    outline: none; 
      font-family: 'Questrial', sans-serif;
}

#ozDropDown select {
    border: 1px solid #993333;
}

#ozDropDown select:focus {
    outline: none
}

#selectedIcon {
    font-size: 150px;
    margin-top: 25px;
}

.ozP {
    font-size: 30px;
}

.drinkIcons {
    height: 200px;
    width: 200px;
}

.drinkTallyHeader {
      font-family: 'Questrial', sans-serif;
      font-size: 30px;
      margin-bottom: 2%;
}

.drinkTallyAccount {
    margin-top: 100px;
    height: auto;
    width: 75% ;
    background-color: #f2f2f2; 
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border: 2px solid #993333;
   
}

.bacDiv {
    
    height: auto;
    width: 300px;
    background-color: white;
}

.glassList {
   margin: 5% auto;
}

.drinkTallyP {
    font-size: 1.4em;
    color: black;
    font-family: 'Questrial', sans-serif;
    margin-left: 8px;
   
   
}

#deleteGlassI {
    margin-left: 20px;
    padding-bottom: 10px;
}


#editDelete {
    margin-left: 10px;
    color: #993333;
    font-size: 20px;
    padding-top: 22px;
}

#editDelete:hover {
    cursor: pointer;
}

#deleteAllDrinks {
     color: #993333;
    font-size: 18px;
    margin-left: 8px;
    padding-top: 21px;
}

#deleteAllDrinks:hover {
    cursor: pointer;
}

.tallyTable td {
    margin-left: 20px;
}

#favsTable td {
    padding-right: 20px;
}

#mobileMargintd {
    visibility: hidden;
}


@media (max-width: 1200px) {
    .mainAccountDiv {
        width: 100%;
        height: auto;
    }

    #mAnav {
        margin-top: -43px;
        height: auto;
        padding-bottom: 15px;
    } 



    #favNavTitle {
        padding-left: 30px;
        padding-right: 15px;
    }

  

 
}

@media (max-width: 540px) {
 
    #favNavRight {
        position: absolute;
        margin-top: 0px;
    }

        #favsTable {
       margin-top: 70px;
    }

     #favNavTitle {
        display: none;
    }

    #mobileMargintd {
        visibility:hidden;
        padding-left: 10px;
    }

    #weightBtn {
        margin-top: -90px;
        margin-left: -10px;
    }

    #favsTable {
        margin-top: 70px;
    }

    .selectedHeader {
    margin-top: 15px;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Questrial', sans-serif;
}

    .drinkIcons {
        height: 135px;
        width: 135px;
    }

    progress {
    height: 55px;
    width: 73.5%;
    margin-left: 15px;
    border-radius: 2px;
    margin-top: 0;
}

    .drinkTallyAccount {
        width: 100%;
        margin-top: 15px;
    }

    .bacAccountPercent {
        font-size: 3.5em;
    }

    .drinkTallyHeader {
        font-size: 1.8em;
    }

    #ozDropDown {
        margin-top: -10px;
    }
  
}





@media (min-width: 540px) and (max-width: 767px) {
    .drinkTallyAccount {
        width: 85%;
    }

    #weightBtn {
        margin-top: -23px;
    }

    #favsTable {
        margin-top: 85px;
        position: absolute;
    }

    #mAnav {
        padding-bottom: 55px;
    }

    #favsTable td {
        padding-right: 40px;
    }

    #exclamation {
        margin-left: 50px;
    }

    .falling {
        margin-left: 160px;
    }

    .merked {
        margin-left: 275px;
    }

    #blackout {
        margin-left: 400px;
    }

     .floatPopParent .floatPopYield {
        margin-left: -5px;
    }

     .floatPopParent .floatPopFalling {
         margin-left: 113px;
    }

        .floatPopParent .floatPopMerked {
            margin-left: 220px;
        }

        .floatPopParentWeird .floatPopWeird {
            margin-left: 355px;
        }
}


@media (min-width: 768px) {
    #mAnav {
        height: 70px;
    }

    #favsTable {
        margin-top: 30px;
    }

    #weightBtn {
        margin-top: -12px;

    }

    .dropdown-menu {
        top: 20px;
        margin-left: 200px;
    }

    .navbar-right .dropdown-menu {
        left: -200px;
    }

    .selectedHeader {
        margin-top: 40px;
    }

    #ozDropDown {
        margin-top: -14px;
    }

    #exclamation {
        margin-left: 40px;
    }

 
    .floatPopParent .floatPopYield {
        margin-left: 0px;
    }

    .falling {
        margin-left: 200px;
    }

    .merked {
        margin-left: 370px;
    }

    #blackout {
        margin-left: 540px;
    }

    .drinkTallyAccount {
        margin-top: 40px;
    }

    .drinkTallyHeader {
        font-size: 2.15em;
    }

    .floatPopParent .floatPopFalling {
        margin-left: 150px;
    }

    .floatPopParent .floatPopMerked {
        margin-left: 315px;
    }

    .floatPopParentWeird .floatPopWeird {
        margin-left: 495px;
    }
}


    @media(min-width: 992px) and (max-width: 1200px) {
        #blackout {
    margin-left: 370px;
        }

        .merked {
    margin-left: 265px;
}
        .falling {
    margin-left: 145px;
}

    #exclamation {
    margin-left: 40px;
}

           .floatPopParentWeird .floatPopWeird {
    margin-left: 325px;
}
        .floatPopParent .floatPopMerked {
    margin-left: 215px;
}

        .floatPopParent .floatPopFalling {
    margin-left: 95px;
}

        .floatPopParent .floatPopYield {
    margin-left: -13px;
}
   

}

    @media(min-width: 1125px) and (max-width: 1350px) {
        .falling {
            margin-left: 140px;
        }

        .merked {
            margin-left: 250px;
        }

        #blackout {
            margin-left: 360px;
        }

        
        .floatPopParentWeird .floatPopWeird {
    margin-left: 325px;
}
        .floatPopParent .floatPopMerked {
    margin-left: 200px;
}

        .floatPopParent .floatPopFalling {
    margin-left: 95px;
}

        .floatPopParent .floatPopYield {
    margin-left: -13px;
}
    }

    @media(min-width: 1350px) {
        .falling {
            margin-left: 155px;
        }

        .merked {
            margin-left: 285px;
        }

        #blackout {
            margin-left: 408px;
        }

        .floatPopParentWeird .floatPopWeird {
    margin-left: 370px;
}
        .floatPopParent .floatPopMerked {
    margin-left: 235px;
}

        .floatPopParent .floatPopFalling {
    margin-left: 115px;
}

        .floatPopParent .floatPopYield {
    margin-left: -13px;
}
    }




