body {
    padding-top: 70px;
    padding-bottom: 20px;
}

#mainNav {
    color: brown;
    height: 70px;
}

.navBarDiv {
   position: relative;
}

#navTitle {
    position: absolute;
    margin-top: 25px;
    font-size: 18px;
    color: black;
}

.navTable td {
    padding-top: 25px;
    padding-right: 20px;
    color: black;  
}

#beerIcon {
    font-size: 30px;
    margin-top: 20px;
    margin-right: 10px;
    color: #ffb366;
}

.navPs {
    color: black;
}

.navPs:hover {
    color: black;
}

.navLogin {
    background-color: #f8f8f8;
    border: 2px solid #ffb366;
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}