
<!-- The overlay -->
<nav id="mainHomeNav" class="bg transition navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
         
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <ul id="rightNavAccount" class="nav navbar-nav">


                        <li><a class="homeNavP" href="/mainAccount" ng-show="account.isLoggedIn()">Account</a></li>
                        <li><a class="homeNavP" href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></li>
                        <li class="navAccountList" id="userNameNav" ng-show="account.isLoggedIn()">
                            {{account.getUserName()}}
                        </li>
                        <li><button class="navButton" ng-show="!account.isLoggedIn()" href="#" ng-click="account.openModal()">Log In</button></li>
                        <li><a class="homeNavP" ng-show="!account.isLoggedIn()" href="/register">Sign Up</a></li>
                      
                    </ul>
                </div>
            </form>
        </div>
    
    </div>
</nav>







<div class="main">
    <div class="faded">
        <div class="row">
            <div id="bigScreenSplit" class="col-md-5 col-xs-0 col-sm-0 col-lg-5">
                <img class="phone" src="http://i.imgur.com/zr5AXFq.png" />
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <h1 class="homeh1">Last Pour</h1>
                <h2 class="homeh2">Don't be a fool. We've dumbed down the process of checking your BAC, even when you are at your most vulnerable state.</h2>
                <button onclick="location.href='/register'" class="getStarted">Get Started</button>



              

            </div>
            <div class="col-md-1 col-lg-1"></div>
            <div id="littleScreenSplit" class="col-xs-12 col-sm-12">
                <img class="phone2" src="http://i.imgur.com/zr5AXFq.png" />
            </div>
        </div>
    </div>
</div>



     
    
    

          

