
<div class="jumbotron">
    <div class="container">
        
        <center>
        <h1>Alcohol App</h1>
        <h3>Helping people keep track of there alcohol consumption</h3>
            <form method="get" action="/register">
        <button type="submit">Get Started</button>
            </form>
        </center>
    </div>
</div>

<div class="midSec">
    <div class="container">
        <center>
        <div class="row">
            <div class="col-md-4">
                <h3>Personalized for your use</h3>
                <p class="midSecPs">We adjust all of our services to each individual. We will keep track of how much you are drinking and let you know when you need to slow down.</p>
            </div>
            <div class="col-md-4">
                <h3>Updates and Progress Reports</h3>
                <p class="midSecPs">From your consumption over time, you will recieve updates so you can identify your habits and adjust them to a safe level</p>
            </div>

            <div class="col-md-4">
                <h3>Too much to drive?</h3>
                <p class="midSecPs">Use our Uber API to keep the roads safe and get you home in good condition</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i id="midSecIcons" class="fa fa-user" aria-hidden="true"></i>

            </div>
            
            <div class="col-md-4">
                <i id="midSecIcons" class="fa fa-area-chart" aria-hidden="true"></i>
            </div>

            <div class="col-md-4">
                <i id="midSecIcons" class="fa fa-car" aria-hidden="true"></i>
            </div>
        </div>
            </center>
    </div>
</div>

<div class="template">
    <div class="container">
        <nav class="favoritesNav">
            
        </nav>
    </div>
</div>
