<div class="modal-body">
    <div class="global">
        
      
        <i ng-click="modal.closeModal()" id="closeModalI" class="fa fa-times" aria-hidden="true"></i>
        <fieldset>
            <legend class="loginLegend">Log In to Last Pour</legend>
            <ul>
                <li ng-repeat="error in controller.validationMessages">
                    {{error}}
                </li>
            </ul>

            <form ng-controller="LoginController as controller" ng-submit="controller.login()">
                <div>
                    <input class="modalFields" placeholder="Email" ng-model="controller.loginUser.email" />
                </div>

                <!--<label>Password:</label>-->

                <div>
                    <input type="password" class="modalFields" ng-model="controller.loginUser.password" placeholder="Password" />
                </div>

                <div>
                    <input type="submit" class="regiBtn" ng-click="modal.closeModal()" value="Log In" />
                  
                </div>
            
                    <h6>Don't have an account? <a href="/register">Sign Up</a></h6>

           </form>

        </fieldset>
    </div>
</div>
