<div class="modal-body">
    <div class="global">
        
        <fieldset>

            <h3>Login with a ocial Provider</h3>

            <ul>
                <li ng-repeat="externalLogin in account.externalLogins">
                    <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
                </li>
            </ul>

        </fieldset>

        <fieldset>
            <legend>Log Locally</legend>
            <ul>
                <li ng-repeat="error in controller.validationMessages">
                    {{error}}
                </li>
            </ul>

            <form ng-controller="LoginController as controller" ng-submit="controller.login()">
                <div>
                    <input class="modalFields" placeholder="Email" ng-model="controller.loginUser.email" />
                </div>

                <!--<label>Password:</label>-->

                <div>
                    <input class="password" ng-model="controller.loginUser.password" placeholder="Password" />
                </div>

                <div>
                    <input type="submit" class="regiBtn" value="Log In" />
                  
                </div>
            
                    <!--<a href="/register">Register</a>-->
                

                <label>or</label>
                
                <div>
                    <button class="facebookBtn" type="submit"><i id="facebookIcon"class="fa fa-facebook" aria-hidden="true"></i>
                     Continue with Facebook</button>
                </div>

                <button class="googleBtn" type="submit"><i id="googleIcon" class="fa fa-google" aria-hidden="true"></i> Continue with Google</button>
                

               <h6>Don't have an account? Register></h6>

           </form>

        </fieldset>
    </div>
</div>
