<nav id="mainAccountNav" class="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navTitleLink" href="/"><span id="navTitle"><img class="lpIcon" src="http://i.imgur.com/3BBUysg.png?1" /></span></a>
            <p class="lastPourNav">Last Pour</p>
        </div>
     
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <ul id="rightNavAccount" class="nav navbar-nav">

                      
                       
                        <li class="navAccountList" id="userNameNav" ng-show="account.isLoggedIn()">
                            {{account.getUserName()}}
                        </li>
                        <li class="navAccountList"><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()" >Logout</a></li>

                    </ul>
                </div>
            </form>
        </div>

    </div>
</nav>

<div class="mainAccount">
    <div class="container-fluid">
        <div class="mainAccountDiv">
            <nav id="mAnav" class="navbar navbar">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <!--<a class="navbar-brand" id="favNavTitle" href="#">Favorites</a>-->
                        <table id="favsTable">
                          
                            
                        <tr class="nav navbar-nav">
                            <!--<td id="favNavTitle">Favorites</td>-->
                            <td id="mobileMargintd"></td>
                            <td ng-repeat="favorite in controller.tGlasses"><a ng-click="controller.selectAlcohol(favorite.alcohol.id)" class="navDrinks" href="#">{{favorite.alcohol.style}}</a><i id="navDelete" class="fa fa-window-close" ng-click="controller.deleteFav(favorite.id)" aria-hidden="true"></i></td>
                        </tr>
                    </table>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                   
                       
                        <div id="favNavRight" class="navbar-form navbar-right">
                            <section id="section">
                                <table>
                                    <tr>                                     
                                        <td><div class="selectedDropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="weightBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <p class="addWeightP">Weight <i class="fa fa-caret-down"></i></p>
                                            </button>
                                            <ul class="dropdown-menu" id="weightDrop" aria-labelledby="weightBtn">
                                                <li>
                                                    <table>
                                                        <tr>
                                                            <td id="weightTd">
                                                    <input class="weight" ng-model="controller.weight" />
                                                            </td>
                                                            <td>
                                                    <i ng-click="controller.setWeight()" class="weightSubmit fa fa-plus" aria-hidden="true"></i>      
                                                               </td>
                                                            </tr>
                                                        </table>                                             
                                                </li>
                                            </ul>
                                        </div></td>
                                        <td><div class="search">
                                           <input ng-model="search" class="searchInputField" type="text" placeholder="Search..." ng-keydown="controller.search(search)" />
                                            
                                    
                                <ul class="results" ng-show="controller.dropDownToggle">
                                    <li ng-repeat="drink in controller.drinks | filter: search | limitTo:4" ng-click="controller.addFav(drink)">
                                        <a>
                                            {{drink.style}}
                                            <br />
                                            <span class="dropAlcInfo">{{drink.type}}, {{drink.abv}}%</span>
                                        </a>
                                    </li>
                                </ul>
                                </div>
                              </td>
                            </tr>
                           </table>
                          </section>
                                
                        </div>
                   
                </div><!-- /.container-fluid -->
            </nav>

            

            <div class="row">
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="selectedDrinkDiv" ng-show="controller.noGlassShow">
                        <center>
                            <table>
                                <tr>
                                    <td><h2 class="selectedHeader">Select a Drink</h2></td>
                                </tr>
                            </table>

                            <div class="row">
                                <img class="drinkIcons" ng-src="http://i.imgur.com/hOQ727c.png" />
                            </div>
                        </center>
                    </div>

                 <div ng-show="controller.firstGlassShow" class="selectedDrinkDiv">
                    <center>
                        <table class="selectedDrinkTable">
                            <tr>
                                <td>
                                    <h2 class="selectedHeader">
                                        {{controller.alcoholInfo.style}}
                                    </h2>
                                   
                                </td>

                                <td>
                                    <div id="ozDropDown">
                                        <select id="ozSelect" ng-model="controller.volume" ng-options="v for v in controller.alcoholInfo.volumes">
                                        </select>
                                    </div>
                                </td>

                            </tr>
                        </table>

                        <div class="row">
                            <img class="drinkIcons" ng-src="{{controller.alcoholInfo.icon}}" ng-show="controller.check()" ng-click="controller.addGlass()" />
                            
                        </div>
                        </center>
                     </div>




                    <!--Toggling Default Div-->
                    <div ng-show="controller.lastGlassShow" class="selectedDrinkDiv">
                        <center>
                            <table class="selectedDrinkTable">
                                <tr>
                                    <td>
                                       
                                        <h2 class="selectedHeader">
                                            {{controller.lastGlass.alcohol.style}}
                                        </h2>
                                        
                                    </td>

                                    <td>
                                        <div id="ozDropDown">
                                            <select ng-model="controller.volume" ng-options="v for v in controller.lastGlass.alcohol.volumes"></select>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <div class="row">
                                <img class="drinkIcons" ng-src="{{controller.lastGlass.alcohol.icon}}" ng-click="controller.addLastGlass()" />               
                            </div>
                        </center>
                    </div>
                    <!--End-->
                        <div class="row">
                            <div class="exclamationDiv">
                                <ul class="iconList">

                                    <li class="floatPopParent" ng-show="controller.checkBAC()"><div><p class="floatPopYield">DO NOT DRIVE! You believe you're functioning better than you actually are. Your ability to see and hear clearly is diminished.</p><i id="exclamation" class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>                                   
                                    </li>

                                    <li class="floatPopParent" ng-show="controller.showFalling()"><div><p class="floatPopFalling">You feel euphoric, but you lack coordination and balance. Your judgement and memory are markedly impaired.</p><img class="falling" src="http://i.imgur.com/mvqEmzl.png" height="50" width="50" /></div></li>

                                    <li ng-show="controller.showMerked()" class="floatPopParent"><div><p class="floatPopMerked">You have difficulty talking, walking, or even standing.Your judgment and perception are severely impaired</p><img class="merked" src="http://i.imgur.com/5xoHYwF.png" height="50" width="50" /></div></li>

                                    <li ng-show="controller.showBlackout()" class="floatPopParentWeird"><p class="floatPopWeird">At this point you may experience nausea and/or start vomiting. If you hurt yourself at this point, you probably won't realize it because you won't feel pain.</p><img id="blackout" src="http://i.imgur.com/a9OYyZP.png" height="70" width="70" /></li>

                                    <!--<li ng-show="controller.showSkull()" class="floatPopParentWeird"><p class="floatPopWeirdTwo">You're F'd</p><img class="skull" src="../../images/skull3.png" height="40" width="40" /></li>-->                                 

                                </ul>

                            </div>
                          
                       
                                <progress value="{{controller.bac}}" max="{{controller.maxVal}}" style="color: #f2f2f2; background-color:#f2f2f2;"></progress>
                           
                                
                        </div>
                   

                   
                </div>

                

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="drinkTallyAccount">
                        <center>
                          
                                <p class="bacAccountPercent">{{controller.bac | number:2}}%</p>
                        <table>
                            <tr>
                                <td><h3 class="drinkTallyHeader">Drink Tally</h3></td>
                               
                                    <td><i ng-click="controller.showRemove()" id="editDelete" class="fa fa-edit"></i></td>
                                    <td><i id="deleteAllDrinks" ng-click="controller.deleteAllFalseGs()" class="fa fa-repeat" aria-hidden="true"></i></td>
                                    </tr>
                           </table> 
                                 
                          
                      
                        </center>
                      



                        <!-- DRINK TALLY -->

                        <ul class="glassList">
                            
                            <li ng-repeat="glass in controller.fGlasses">
                            <table class="tallyTable">
                                <tr>
                               <td ng-hide="controller.hideRemove"><i id="deleteGlassI" ng-click="controller.deleteFalseG(glass.id)" class="fa fa-window-close" aria-hidden="true"></i></td>
                                <td><p class="drinkTallyP">{{glass.timeConsumed | date: 'shortTime'}}</p></td>
                                 <td><p class="drinkTallyP">{{glass.alcohol.style}} {{glass.volume}} oz</p></td>
    
                            </tr>
                            </table>
                            </li>
                        </ul>
                    </div>
                        </div>
                    
                 </div>
             </div>
        </div>
    </div>
