<div class="mainAccount">
    <div class="container-fluid">
        <div class="mainAccountDiv">
            <nav id="mAnav" class="navbar navbar">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" id="favNavTitle" href="#">Favorites</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ng-repeat="favorite in controller.tGlasses"><a ng-click="controller.selectAlcohol(favorite.alcohol.id)" class="navDrinks" href="#">{{favorite.alcohol.style}}</a><i class="fa fa-window-close" ng-click="controller.deleteFav(favorite.id)" aria-hidden="true"></i></li>
                        </ul>
                        <div class="navbar-form navbar-right">
                            <section id="main">
                                <div class="search">
                                    <input ng-model="search" class="searchInputField" type="text" placeholder="Search..." ng-keydown="controller.search(search)" />
                                    <ul class="results" ng-show="controller.dropDownToggle">
                                        <li ng-repeat="drink in controller.drinks | filter: search | limitTo:4" ng-click="controller.addFav(drink)">
                                            <a>
                                                {{drink.style}}
                                                <br />
                                                <span>{{drink.type}}, {{drink.abv}}%</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>


                        </div>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div ng-click="controller.dropDownToggle = false" class="drinkNtally">
                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <table class="headerNdropdown">
                                <tr>
                                    <td>
                                        <h2 class="drinkHeader">
                                            {{controller.alcoholInfo.style}}
                                        </h2>
                                    </td>

                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Volume<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li ng-repeat="v in controller.alcoholInfo.volumes">
                                                    <a ng-click="controller.volume = v">{{v}} oz</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>

                                </tr>
                            </table>

                            <div class="row">
                                <i id="homeBeerIcon" class="fa fa-beer" aria-hidden="true" ng-click="controller.addGlass()"></i>
                                <p class="ozUnderIcon" ng-hide="controller.check()">{{controller.volume}} oz</p>
                            </div>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <div class="drinkTally">
                            <h3>Drink Tally</h3>
                            <ol>
                                <li ng-repeat="glass in controller.fGlasses"><p class="drinkTallyP">{{glass.timeConsumed | date: 'short'}} <span>{{glass.alcohol.style}} {{glass.volume}}</span></p></li>
                               
                            </ol>
                          
                        </div>
                    </div>
                </div>
                <div class="row">
                    <center>
                        <p class="bacTitle">BAC %</p>
                        <p class="bacPercent">.014%</p>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
