
<nav id="mainAccountNav" class="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navTitleLink" href="/"><span id="navTitle"><img class="lpIcon" src="http://i.imgur.com/3BBUysg.png?1" /></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <ul id="rightNavAccount" class="nav navbar-nav">



                        <li class="navAccountList" id="userNameNav" ng-show="account.isLoggedIn()">
                            {{account.getUserName()}}
                        </li>
                        <li class="navAccountList"><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></li>

                    </ul>
                </div>
            </form>
        </div>

    </div>
</nav>
<div id="globalId">
    
    <div class="container">
        
  

                <p class="regiHeader">Sign Up</p>
                
                <ul>
                    <li ng-repeat="message in controller.validationMessages">
                        {{message}}
                    </li>
                </ul>

                <form class="registerForm" ng-submit="controller.register()" id="formId">
                    <div>
                        <input class="modalFields" placeholder="Username" ng-model="controller.registerUser.userName" />
                    </div>                   
                    <div>
                       <input class="modalFields" placeholder="Email" ng-model="controller.registerUser.email" />
                    </div>
                    

                    <div>
                        <input type="password" class="modalFields" placeholder="Password" ng-model="controller.registerUser.password" />
                    </div>
                    
                    <div>
                        <input type="password" class="modalFields" placeholder="Confirm Password" ng-model="controller.registerUser.confirmPassword" />
                    </div>
                    
                    <button class="regiBtn" type="submit">Submit</button>
               

                </form>          
        </div>
    </div>


